*~
*.o
.deps
.dirstamp
/aclocal.m4
/autom4te.cache
/compile
/config.log
/config.status
/configure
/depcomp
/DOC/Makefile
/DOC/Makefile.in
/emuos/build
/install-sh
/Makefile
/Makefile.in
/missing
/src/android/bin
/src/android/gen
/src/android/jni/Android.mk
/src/android/libs
/src/android/local.properties
/src/android/obj
/src/android/proguard-project.txt
/src/atari800
/src/config.h
/src/config.h.in
/src/guess_settings
/src/libatari800.a
/src/libatari800_test
/src/Makefile
/src/Makefile.in
/src/stamp-h1
/tools/cart
/tools/Makefile
/tools/Makefile.in

# Qt Creator
/atari800.creator.user
/.qtc_clangd

# VS Code
/.vscode
