**/CVS
autom4te.cache/
*.o
/src/Makefile
/src/atari800
/src/config.h
/src/config.h.in
/src/config.log
/src/config.status
/src/configure
*.xcuserstate
src/apple/Atari800macOS/Atari800EmulationCore-macOS/Atari800EmulationCore-macOS.xcodeproj/xcuserdata
src/apple/Atari800macOS/Atari800macOS.xcodeproj/xcuserdata
src/apple/Atari800iOS/Atari800iOS.xcodeproj/xcuserdata
src/apple/Atari800iOS/Atari800EmulationCore-iOS/Atari800EmulationCore-iOS.xcodeproj/xcuserdata
src/apple/Atari800.xcworkspace/xcuserdata
src/apple/Shared/ROM/5200.ROM
src/apple/Shared/ROM/ATARIBAS.ROM
src/apple/Shared/ROM/ATARIOSA.ROM
src/apple/Shared/ROM/ATARIOSB.ROM
src/apple/Shared/ROM/ATARIXL.ROM
