**/CVS
autom4te.cache/
*.o
/src/Makefile
/src/atari800
/src/config.h
/src/config.h.in
/src/config.log
/src/config.status
/src/configure
/src/android/bin
/src/android/gen
/src/android/jni/Android.mk
/src/android/libs
/src/android/obj
/src/android/local.properties
/src/android/proguard-project.txt
