[Desktop Entry]
Name=Atari800
Comment=Atari 8-bit Computer and 5200 Console Emulator
Exec=atari800
Icon=atari800
Terminal=false
Type=Application
Categories=Emulator;Game;
Keywords=atari800;Atari;Emulator;
