#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Name=atari800rpi
GenericName=atari800
Comment=Atari 800 emulator, special version for low power Pis
Icon=atari800rpi
Exec=atari800rpi
Categories=Game
Keywords=atari800;application;
Name[en_GB]=Atari800 RPi (for Pi Zero, 2 & 3)
