#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Name=atari800stk
GenericName=atari800
Comment=Atari 800 emulator, standard Linux version
Icon=atari800stk
Exec=atari800stk
Categories=Game
Keywords=atari800;application;
Name[en_GB]=Atari800 Stock (for Pi 4 & 400)
