name: Build CI

on:
  workflow_dispatch:
  push:
    branches: [ "master" ]
  pull_request:

jobs:
  build-amd64:
    name: Build on Linux amd64
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v4
    - name: install depends
      run: sudo apt-get install -y libsdl1.2-dev libsdl2-dev libmp3lame-dev libreadline-dev
    - name: autogen
      run: ./autogen.sh
    - name: configure
      run: ./configure --with-sdl --with-opengl --with-readline --with-mp3=lame --with-sound=sdl --with-video=sdl
    - name: building
      run: make -j4
    - name: Archive Atari800 binary
      uses: actions/upload-artifact@v4
      with:
       name: atari800-linux-amd64
       path: src/atari800

  build-macos:
    name: Build on MacOS M1 (arm64)
    runs-on: macos-14

    steps:
    - uses: actions/checkout@v4
    - name: install depends
      run:  brew install sdl12-compat automake readline
    - name: autogen
      run: ./autogen.sh
    - name: configure
      run: ./configure --with-sdl --with-opengl --with-sound=sdl --with-video=sdl
    - name: building
      run: make -j4
    - name: Archive Atari800 binary
      uses: actions/upload-artifact@v4
      with:
       name: atari800-macos-arm64
       path: src/atari800

  build-windows-msys2:
    name: Build on Windows MSYS2
    runs-on: windows-latest

    defaults:
      run:
        shell: msys2 {0}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup MSYS2
        uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: true
          install: >-
            git
            base-devel
            mingw-w64-x86_64-toolchain
            autoconf
            automake
            libtool
            mingw-w64-x86_64-SDL2
            mingw-w64-x86_64-sdl12-compat
            mingw-w64-x86_64-readline
            mingw-w64-x86_64-libpng

      - name: Run autoreconf
        run: autoreconf -fiv

      - name: Configure project
        run: ./configure

      - name: Build project
        run: make -j$(nproc)

      - name: Verify build
        run: |
          if [ ! -f src/atari800.exe ]; then
            echo "Build failed"
            exit 1
          fi
          echo "Build succeeded"
